/* -------------------- */
/* MINIMAL CSS RESET */
/* -------------------- */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

section {
  background-color: #F5F5F5;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url(../assets/svg/fantasma.svg);
  background-position: top;
  background-size: center;
  background-repeat: no-repeat;
}

section h1 {
  color: #A2A2A2;
  font-size: 1.5rem;
  margin: 10px 10px;
  font-weight: 490;
}

section form {
  height: 100%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #D1D1D1;
}

section form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section form ul li input, section form ul li textarea, section form ul li button {
  padding: 10px 7px;
  height: 50px;
  width: 340px;
  border: none;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #d2d2d2;
}

section form ul li input::-webkit-input-placeholder, section form ul li textarea::-webkit-input-placeholder, section form ul li button::-webkit-input-placeholder {
  color: #D1D1D1;
}

section form ul li input:-ms-input-placeholder, section form ul li textarea:-ms-input-placeholder, section form ul li button:-ms-input-placeholder {
  color: #D1D1D1;
}

section form ul li input::-ms-input-placeholder, section form ul li textarea::-ms-input-placeholder, section form ul li button::-ms-input-placeholder {
  color: #D1D1D1;
}

section form ul li input::placeholder, section form ul li textarea::placeholder, section form ul li button::placeholder {
  color: #D1D1D1;
}

section form ul li a button {
  width: 340px;
  border-radius: 46px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #A2A2A2;
  font-size: 1.3rem;
  color: #ffffff;
}

section form ul li textarea {
  height: 350px;
}

.sectionenviar {
  color: #A2A2A2;
  background-position: center;
}

.sectionenviar H5 {
  font-size: 1.5rem;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.sectionenviar h4 {
  font-size: 4.5rem;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.sectionenviar h6 {
  font-size: 2rem;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
